<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${config.mapperPackage}.${upperModelName}Mapper">

    <resultMap id="BaseResultMap" type="${config.entityPackage}.${upperModelName}">
        <% for(var item in items) {%>
            <% if (item.columnType == 'INT') {%>
                <result column="${item.column}" property="${item.property}" jdbcType="INTEGER"/>
            <% } else if(item.columnType == 'DATETIME' || item.columnType == 'TIMESTAMP') {%>
                <result column="${item.column}" property="${item.property}" jdbcType="DATE"/>
            <% } else if(item.columnType == 'TEXT')  {%>
                <result column="${item.column}" property="${item.property}" jdbcType="VARCHAR"/>
            <% } else {%>
                <result column="${item.column}" property="${item.property}" jdbcType="${item.columnType}"/>
        <% } }%>
    </resultMap>
</mapper>