<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true"/>


    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:host-name="172.16.21.14" p:port="6379" />

    <!-- redis template definition -->
    <bean id="redisTemplate"
          class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory"/>

    <bean id="lockManager" class="com.dazong.common.lock.impl.LockManagerImpl"
          p:redisTemplate-ref="redisTemplate"
          p:zkClient-ref="zkClient"
    />

    <bean id="zkClient" class="com.dazong.common.lock.util.ZKClient"
          p:baseSleepTimeMs="20"
          p:maxRetries="20"
          p:server="172.16.21.12:2181"
    />

    <bean id="lockAspect" class="com.dazong.common.lock.aop.DistributionLockAspect"
    />

    <!--<bean id="lockAopService" class="com.dazong.cc.common.lock.LockAopService"/>-->
</beans>